body{

    background-image: url(xm7u_2frx_210816.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.head{
    border: #235347 2px;
    border-radius: 15px;
    background-color: #235347;
    box-shadow: #48736b 8px 5px 2px ;
    margin: 20px; 
    text-align: center;
    font-family: cursive;
    font-size: larger;
    color: white;
    padding: 20px;
}

.top{

    text-align: center;
    margin: 10px;
    border: 2px whitesmoke;
    border-radius: 6px;
    background-color: #8eb69b;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 250px;
    
}

.down{

    text-align: center;
    margin: 10px;
    border: #8eb69b 2px;
    border-radius: 6px;
    background-color: #8eb69b;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 250px;

}

.right{

    text-align: center;
    margin: 10px;
    border: #8eb69b 2px;
    border-radius: 6px;
    background-color: #8eb69b;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 250px;

}

.left{

    text-align: center;
    margin: 10px;
    border: #8eb69b 2px;
    border-radius: 6px;
    background-color: #8eb69b;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 250px;

}